{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row justify-content-center">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4">Shopping Bag</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
                <br>
                <br>
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless justify-content-center">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Style Info</th>
                            <th scope="col">Size Run</th>
                            <th scope="col">Line Quantity</th>
                            <th scope="col">Line Value</th>
                        </tr>
                    </thead>

                    {% for item in bag_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.product.product_name }}</strong></p>
                                
                                <p class="my-0 small text-muted">SKU: {{ item.product.product_sku|upper }}</p>

                                <p class="my-0">Cost Price: £{{ item.product.product_price }}</p>

                                <p class="my-0">RRP: £{{ item.product.rrp_price }}</p>
                            </td>
                            
                                <form class="form update-form" action="" method="POST">
                                    {% csrf_token %}
                                    <td class="py-0 w-50 justify-content-center">
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                                <tr>
                                                    <div class="col form-group justify-content-center mt-3 mb-3 pr-2 pl-2">
                                                        {% for n in item.size_names %}
                                                        <th scope="col">{{ n }}</th>
                                                        {% endfor %}
                                                    </div>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    {% for q in item.qty %}
                                                    <td class="py-3 text-center">
                                                        <div class="col form-group justify-content-center mt-3 mb-3">
                                                        
                                                            <input type="hidden" name=""
                                                                id="{{ item.product_type }}" data-item_id="{{ product.id }}"
                                                                value="{{ item.product_type.name }}">
                                                        
                                                            
                                                            <div class="pr-3 pl-3 input-wrapper">
                                                                <span class="input-group"></span>
                                                                <input type="number" class="form-control qty_input input-box rounded-0 text-center"  value="{{ q }}"
                                                                    min="0" max="99" id="id_qty_"
                                                                    data-item_id="{{ item.id }}" aria-label="{{ n }}">
                                                            </div>
                                                        </div>       
                                                    </td> 
                                                    {% endfor %}
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </form>
                                
                            
                            <td class="py-3 w-15">
                                <p class="my-0 line-qty">{{ item.line_qty }}</p>
                                <p class="pt-5">
                                <a href="" class="update-link">Update</a>
                                <a href="" class="remove-link" id="remove_{{ item.item_id }}">Remove</a>
                                </p>
                            </td>
                            <td class="py-3">
                                <p class="my-0 sub-total">£{{ item.line_total|floatformat:2 }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                            <h6><strong>Total Item Qty: {{ total_items }}</strong></h6>
                            <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'collections' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                <span class="text-uppercase">Continue Shopping</span>
                            </a>
                            <a href="" class="btn btn-black rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'collections' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/qty_input_scripts.html' %}
{% endblock %}