{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row justify-content-center">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<main class="justify-content-center index-container mx-0">
    <div id="bg" class="bg-overlay"><img src="{{ MEDIA_URL }}clothing.jpeg" alt="hobo-hatch-home-image">
    </div>
    <div id="bg-overlay" class="bg-overlay"></div>
    
            <!-- Welcome Section -->

    {% if request.user.is_authenticated %}
            {% include 'profiles/includes/logged_in_row.html' %}
    {% endif %}   

            <!-- Intro text -->

    <section class="py-4 row welcome-section justify-content-center text-left">
        <div class="col-xs-12 col-md-6 py-4 welcome-div">
            <h1 class="page-title title-text home-page-text">
                Hobo & Hatch
                <br>
                B2B
            </h1>
            <br>
            <p class="about-p1 body-text justify-content-center home-page-text pr-3">
                Ethically Produced Accessories & Clothing. 
            </p>
            <p class="about-p2 body-text home-page-text pr-3">
                Treading lightly and directly empowering creative communities.
            </p>
            <p class="about-p3 body-text home-page-text pr-3">
                Make the concious buying choice.
            </p>
        </div>

    {% if request.user.is_authenticated %}

        {% if profile.buyer_name != None %}

        <!-- Direct logged in profile users to shop -->
            
            <div class="col-xs-12 col-md-6">
                <div class="col-12 login-row text-right">
                    <a href="{% url 'collections' %}" role="button" class="btn btn-homepage">
                    Shop Now
                    </a>
                </div>
            </div>

        {% elif profile.buyer_name == None %}

        <!-- Direct Authenticated but not profile users to complete profile -->

        <div class="col-xs-12 col-md-6">
            <div class="col-12 login-row text-right">
                    <a href="{% url 'profile' %}" role="button" class="btn btn-homepage">
                    Complete Buyer Profile
                    </a>
            </div>
        </div>

        {% endif %}

    {% else %}

        <!-- Direct non-authenticated visitors to either login or sign-up -->

        <div class="col-xs-12 col-md-6">

            <!-- login-link -->

            <div class="col-12 login-row text-right">
                <a href="{% url 'account_login' %}" role="button" class="btn btn-homepage">
                Login 
                </a>
            </div>

            <!-- Application link -->

            <div class="col-12 apply-row text-right">
                <a href="{% url 'account_signup' %}" role="button" class="btn btn-homepage">
                    Stockist Application
                </a>
            </div>

            <!-- Redirect to Ecommerce incase not B2B user -->

            <div class="col-12 retail-row text-right">
                <a href="https://www.hoboandhatch.co.uk/" role="button" class="btn btn-homepage">
                    Shop our retail site
                </a>
            </div>
        </div>
        
    {% endif %}
    </section>  
</main>
{% endblock %}
