{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row justify-content-center">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<main class="container justify-content-center">
    <div class="row justify-content-center title-text">
        <h1 class="page-title title-text">
            Welcome to Hobo & Hatch B2B Ordering
        </h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 body-text justify-content-center">
            <p class="home-page-text justify-content-center">
                Here is some text about the brand
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 login-row body-text justify-content-center">
            <p class="home-page-text justify-content-center">Login to Shop the latest Hobo & Hatch Collections</p>
            <button class="login-button">
                Login
            </button>
        </div>
        <div class="col-12 apply-row body-text justify-content-center">
            <p class="home-page-text justify-content-center">Not a stockist yet?</p>
            <button class="apply-link" >
                Apply to be a stockist
            </button>
        </div>
    </div>  
</main>
{% endblock %}
