<script>
    
// Enable / disable
function handleEnableDisable(size) {
    currentValue = parseInt($(`#id_qty_${size}`).val());
    console.log(currentValue)
    var minusDisabled = currentValue < 1;
    console.log(currentValue)
    var plusDisabled = currentValue > 98;
    console.log(currentValue)
    $(`.decrement-qty_${size}`).prop('disabled', minusDisabled);
    $(`.increment-qty_${size}`).prop('disabled', plusDisabled);
}

// Ensure proper enabling/disabling of all inputs on page load
var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var size = $(this).closest('.input-wrapper').data('size');
        handleEnableDisable(size);
    }


// Check enable/disable every time the input is changed
$('.qty_input').change(function() {
    var size = $(this).closest('.input-wrapper').data('size');
    handleEnableDisable(size);
});


// Increment quantity
$('.increment-qty').click(function(e) {
    e.preventDefault();
    var closestInput = $(this).closest('.input-wrapper').find('.qty_input')[0];
    var currentValue = parseInt($(closestInput).val());
    $(closestInput).val(currentValue + 1);
    var size = $(this).data('size');
    handleEnableDisable(size);
});

// Decrement quantity
$('.decrement-qty').click(function(e) {
    e.preventDefault();
    var closestInput = $(this).closest('.input-wrapper').find('.qty_input')[0];
    var currentValue = parseInt($(closestInput).val());
    $(closestInput).val(currentValue - 1)
    var size = $(this).data('size');
    handleEnableDisable(size);
});
</script>
