<script type="text/javascript">

// Enable / disable plus / minus stock qty buttons
function handleEnableDisable(size) {
    currentValue = parseInt($(`#id_qty_${size}`).val());
    // working further down the console - initially Nan
    console.log(currentValue);
    var minusDisabled = currentValue < 2;
    var plusDisabled = currentValue > 98;
    $(`#decrement-qty_${size}`).prop('disabled', minusDisabled);
    $(`#increment-qty_${size}`).prop('disabled', plusDisabled);
}

// Ensure proper enabling/disabling of all inputs on page load
var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var size = $(this).data('size');
        // undefined
        console.log(size);
        handleEnableDisable(size);
    }


// Check enable/disable every time the input is changed
$('.qty_input').change(function() {
    var size = $(this).data('size');
    // not printing - buttons are frozen by this point
    console.log(size);
    handleEnableDisable(size);
});


// Increment quantity
$('.increment-qty').click(function(e) {
    e.preventDefault();
    var closestInput = $(this).closest('.input-wrapper').find('.qty_input')[0];
    // undefined
    console.log(closestInput);
    // Nan
    var currentValue = parseInt($(closestInput).val());
    console.log(currentValue);
    $(closestInput).val(currentValue + 1);
    var size = $(this).data('size');
    // working 
    console.log(size);
    handleEnableDisable(size);
});

// Decrement quantity
$('.decrement-qty').click(function(e) {
    e.preventDefault();
    var closestInput = $(this).closest('.input-wrapper').find('.qty_input')[0];
    console.log(closestInput);
    var currentValue = parseInt($(closestInput).val());
    console.log(currentValue);
    $(closestInput).val(currentValue - 1)
    var size = $(this).data('size');
    console.log(size);
    handleEnableDisable(size);
});
</script>