{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row justify-content-center">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
                <h2 class="logo-font mb-4">My Account</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12-col-lg-6">
            <p>Default Delivery Information</p>
            <form action="{% url 'profile' %}" methood="POST" class="mt-3" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary float-right">Update Details</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p>Order History</p>
            {{ orders }}
        </div>
    </div>   
</div>
{% endblock %}