{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row justify-content-center">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4">Checkout</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <p>Please fill out your information to complete you order.</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded-0 px-3 mb-5">
                    <legend class="fieldset-label">Buyer Details</legend>
                    {{ order_form.buyer_name | as_crispy_field }}
                    {{ order_form.buyer_phone | as_crispy_field }}
                    {{ order_form.buyer_email | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded-0 px-3 mb-5">
                    <legend class="fieldset-label">Store Details</legend>
                    {{ order_form.stockist| as_crispy_field }}
                </fieldset>
                <fieldset class="rounded-0 px-3 mb-5">
                    <legend class="fieldset-label">Accounting Details</legend>
                    {{ order_form.accounts_phone | as_crispy_field }}
                </fieldset class="rounded-0 px-3 mb-5">
                <fieldset class="rounded-0 px-3 mb-5">
                    <legend class="fieldset-label">Delivery Details</legend>
                    {{ order_form.address_1 | as_crispy_field }}
                    {{ order_form.address_2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county_or_state | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}

                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label">Payment</legend>
                    <!-- A Stripe Card Element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- A Stripe Card Element will go here -->
                    <div class="mb-3 text-danger" id="card-erors" role="alert"></div>
                </fieldset>
                <div class="submit-button text-right mt-5 mb-2">                    
                    <a href="{% url 'view_bag' %}" class="btn btn-outline-black rounded-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Adjust Bag</span>
                    </a>
                    <button id="submit-button" class="btn btn-black rounded-0">
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}