{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row justify-content-center">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="loading-overlay">
    <h1 class="text-light title-text loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="title-text mb-4">Checkout</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6 order-lg-last mb-5">
            <p class="text-muted">Order Summary ({{ total_items }})</p>
            <div class="row">
                <div class="col-md-7 offset-md-2">
                    <p class="d-none d-md-block mb-1 mt-0 small text-muted">Item</p>
                </div>
                <div class="col-md-3 text-md-right">
                    <p class="d-none d-md-block mb-1 mt-0 small text-muted">Subtotal</p>
                </div>
            </div>
            {% for item in bag_items %}
                <div class="row">
                    <div class="col-md-2 mb-1">
                        <p class="d-sm-block d-md-none my-0"><strong>{{ item.product.product_name }}</strong></p>
                        <a href="{% url 'product_detail' item.product.id %}">
                            {% if item.product.image %}
                                <img class="w-100 px-sm-2 py-sm-2" src="{{ item.product.image.url }}" alt="{{ product.product_name }}">
                            {% else %}
                                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.product_name }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-md-7">
                        <p class="d-none d-md-block my-0"><strong>{{ item.product.product_name }}</strong></p>
                        <p class="my-0 small">Size run:
                            <br> 
                            {% for s, q in item.size_items %}{{ s|upper }}, <strong>{{ q|upper }}</strong> | {% endfor %}</p>
                        <p class="my-0 small text-muted">Line Qty: {{ item.line_qty }}</p>
                    </div>
                    <div class="col-md-3 text-md-right">
                        <p class="my-0 small text-muted">Line Total: £ {{ item.line_total|floatformat:2 }}</p>
                    </div>
                </div>
                <hr class="my-2 text-center">
            {% endfor %}
            
            <div class="row text-black text-right">
                <div class="col-7 offset-2">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Delivery:</p>
                    <p class="my-0">Grand Total:</p>
                </div>
                <div class="col-3">
                    <p class="my-0">£ {{ total | floatformat:2 }}</p>
                    <p class="my-0">£ {{ delivery | floatformat:2 }}</p>
                    <p class="my-0"><strong>£ {{ grand_total | floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>
        <!-- {% if user.is_authenticated %} -->

    
        <div class="col-12 col-lg-6">
            <p>Please fill out your information to complete you order.</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded-0 px-3 mb-5">
                    <legend class="fieldset-label">Buyer Details</legend>
                    {{ order_form.buyer_name | as_crispy_field }}
                    {{ order_form.buyer_phone | as_crispy_field }}
                    {{ order_form.buyer_email | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded-0 px-3 mb-5">
                    <legend class="fieldset-label">Store Details</legend>
                    {{ order_form.stockist| as_crispy_field }}
                </fieldset>
                <fieldset class="rounded-0 px-3 mb-5">
                    <legend class="fieldset-label">Accounting Details</legend>
                    {{ order_form.accounts_phone | as_crispy_field }}
                    {{ order_form.accounts_email | as_crispy_field }}
                </fieldset class="rounded-0 px-3 mb-5">
                <fieldset class="rounded-0 px-3 mb-5">
                    <legend class="fieldset-label">Delivery Details</legend>
                    {{ order_form.address_1 | as_crispy_field }}
                    {{ order_form.address_2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county_or_state | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.delivery_date | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                            <label class="form-check-label" for="id-save-info">Update this account info to {{ stockist }} profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                </fieldset>
                <div class="submit-button text-right mt-5 mb-2">                    
                    <a href="{% url 'view_bag' %}" class="btn btn-outline-black rounded-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Adjust Bag</span>
                    </a>
                    <button id="submit-button" class="btn btn-black rounded-0">
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>£ {{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>
            </form>
        </div>
  
    <!-- {% else %}
    <div>
    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
    <a class="text-info" href="{% url 'account_login' %}">login</a> to complete this order
    </div>
    {% endif %} -->

</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
