{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row justify-content-center">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<main class="container justify-content-center faqs-container">
    {% if request.user.is_authenticated %}
    {% include 'profiles/includes/logged_in_row.html' %}
    {% endif %}


            <!-- FAQ's Section -->

    <section class="p-2 row faq-section justify-content-center text-center">
        <div class="col-12">
            <h1 class="page-title title-text">
                FAQ's
            </h1>
        </div>
            <!-- Accordion of faq's -->

        <div class="accordion" id="accordianFaqs">

            {% for faq in faqs %}

                <!-- For each FAQ in the db, create a dropdown in the accordion -->

            <div class="card accordian-card">
                <div class="card-header accordian-header" id="heading{{ faq.id }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapse{{ faq.id }}" aria-expanded="true" aria-controls="collapse{{ faq.id }}">
                        
                            {{ faq.question }} 
                            <span><i class="fas fa-chevron-circle-down"></i></span>  
                        </button>
                    </h2>
                </div>
          
                <div id="collapse{{ faq.id }}" class="collapse" aria-labelledby="heading{{ faq.id }}" data-parent="#accordianFaqs">
                    <div class="card-body accordian-card-body">
                    
                            {{ faq.answer }}
                    
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-12 text-center contact-div">
            <h3 class="contact-text">Didn't find the answer you were looking for?
                <a class="contact-link" href="#">Please contact our team</a>
            </h3>
        </div>
    </section>  
</main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
{% endblock %}