{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row justify-content-center">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<main class="container justify-content-center error-container">
    <div class="row">
        <div class="col">
            <h2 class="py-2">Sorry, you are not allowed to visit this page! (403 error)</h2>
            <a href="{% url 'home' %}" role="button" class="btn btn-homepage">
                Back to Homepage
            </a>
        </div>

    </div>
</main>
{% endblock %}