@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,600;0,800;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap');


html {
    height: 100%;
}

body {
    /* background: url('/media/hobo_imagery_beach.png'); */
    /* background-color: #F2F3F7; */
    font-family: 'Quicksand', 'sans-serif';
    color: #0A151A;
    text-anchor: #0A151A;
    height: calc(100vh - 200px);
}

.index-container {
    background: url('/media/hobo_imagery_sea.png');
    background-size: cover;
    z-index: 100;
}


/* ------------------------------ header & nav */

header {
    background: #F2F3F7;
}

.nav-link {
    color: #0A151A;
}
i {
    color: #005E66;
}

.fa-plus,
.fa-minus {
    color: #0A151A;
}
.nav-link:hover {
    color: #005E66;
}

.logo-div,
.navbars-div {
    text-align: center;
}

.navbars-div {
    padding-top: 5%;
}

.dropdown-toggle::after {
    border-top: 0;
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
}






/* ------------------------------ body */

.title-text {
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
}

.body-text {
    font-family: 'Quicksand', 'sans-serif';
}

.header-container {
    padding-top: 200px;
}

.home-logo {
    align-items: center;
    max-width: 250px;
    max-height: 150px;
}

/* @media only screen and (max-width: 600px) {
    .home-logo {
        align-items: center;
        max-width: 150px;
  } */

.search-bar {
    background: none;
    border-bottom: solid, 2px, #0A151A;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* ------------------------------- Product detail */

.product-section {

    padding-top: 100px;

}

.properties {
    justify-content: center;
    padding-top: 28px;
}

.input-group-prepend,
.input-group-append,
.input-box {
    display: inline-flex;
    text-align: center;
}

/* ------------------------------- Buttons */

.btn-affirmative,
.btn-back {
    border-radius: 0px;
    border: 2px solid #A98B7D;
    margin: 7px;
    color: #996361;
}

/* ------------------------------- Homepage */
.welcome-section {
    padding: 5%;
}

.about-section,
.action-section {
    text-align: center;
}

.action-section {
    padding-top: 5%;
}

.login-link,
.apply-link,
.shop-link {
    color: #005E66;
    font-weight: 600;
}

.login-link:hover,
.apply-link:hover,
.shop-link:hover {
    color:#996361;
}

/* ------------------------------- Footer */

footer {
    background: rgba(169, 139, 125, .5);
}

.footer-container {
    background: rgba(169, 139, 125, .5);
}
.footer-text {
    font-family: 'Quicksand', 'sans-serif';
}
