html {
    height: 100%;
}

body {
    /* background: url('/media/hobo_imagery_beach.png'); */
    background-color: #F2F3F7;
    color: #0A151A;
    text-anchor: #0A151A;
    height: calc(100vh - 164px);
}


/* ------------------------------ header & nav */

.nav-link {
    color: #0A151A;
}
i {
    color: #005E66;
}

.fa-plus,
.fa-minus {
    color: #0A151A;
}
.nav-link:hover {
    color: #005E66;
}

/* ------------------------------ buttons */




/* ------------------------------ body */

body.title-text {
    font-family: 'Montserrat', 'sans-serif';
}

body.body-text {
    font-family: 'Quicksand', 'sans-serif';
}

.header-container {
    padding-top: 200px;
}

.home-logo {
    max-width: 250px;
    max-height: 150px;
}

.search-bar {
    background: none;
    border-bottom: solid, 2px, #0A151A;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* ------------------------------- Product detail */

.product-section {

    padding-top: 100px;

}

.properties {
    justify-content: center;
    padding-top: 28px;
}

.input-group-prepend,
.input-group-append,
.input-box {
    display: inline-flex;
    text-align: center;
}

/* ------------------------------- Buttons */

.btn-affirmative,
.btn-back {
    border-radius: 0px;
    border: 2px solid #A98B7D;
    margin: 7px;
    color: #996361;
}

