@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,600;0,800;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* -------------------------- main / dody */


html, body {
    height: 100%;
}

body {
    font-family: 'Quicksand', 'sans-serif';
    color: #0A151A;
    height: calc(100vh - 180px);
    min-height: 50vh;
}


@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 1040px;

    }
}

/* ---------------------------- homepage */

.index-container {
    background-color: rgba(153, 99, 97, .9);
    margin: 0%;
    padding: 0%;

}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }

#bg img {
    position: absolute; 
    top: 20%; 
    left: 0; 
    right: 0; 
    bottom: 0;
    padding-top: 20%;
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    opacity: 70%;
  }

.bg-overlay {
    background-color: rgba(153, 99, 97, .3);
    position: absolute; 
    top: 20%; 
    left: 0; 
    right: 0; 
    bottom: 0;
    padding-top: 20%;
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}


.welcome-section {
    padding-top: 20%;
    background-color: rgba(153, 99, 97, .9);
    letter-spacing: 0.4vw;
    margin: 0%;
    
}

.welcome-div {
    padding-top: 20%;
}

.about-section,
.action-section {
    text-align: center;
}

.action-section {
    padding-top: 5%;
}

.login-link,
.apply-link,
.shop-link {
    color: #005E66;
    font-weight: 600;
}

.login-link:hover,
.apply-link:hover,
.shop-link:hover {
    color:#996361;
}



/* ------------------------------ header & nav */

header {
    background: #F2F3F7;
}

.nav-link {
    color: #996361;
}

.nav-link:hover {
    color: #005E66;
}


.logo-div,
.navbars-div {
    text-align: center;
}

.navbars-div {
    padding-top: 5%;
}

.dropdown-toggle::after {
    border-top: 0;
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
}

.header-container {
    padding-top: 180px;
}

.home-logo {
    align-items: center;
    max-width: 250px;
    max-height: 150px;
}

/* ------------------------------ icons */


i {
    color: #005E66;
}

.fa-plus,
.fa-minus {
    color: #0A151A;
}

.fa-plus:hover,
.fa-minus:hover {
    color: #005E66;
    font-size: larger;
}


/* ------------------------------ text & fonts */

section h1 .page-title {
    text-align: start;
    z-index: -1;
}

.title-text {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
}

.body-text {
    font-family: 'Quicksand', 'sans-serif';
}



.home-page-text {
    color: #F2F3F7;

    
}

/* ------------------------------ search */

.search-bar {
    background: none;
    border-bottom: solid 2px #0A151A;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* --------------------------- product detail & inputs */

.product-section {

    padding-top: 100px;

}

.properties {
    justify-content: center;
    padding-top: 28px;
}

.input-group-prepend,
.input-group-append,
.input-box {
    display: inline-flex;
    text-align: center;

}

/* ------------------------------- buttons */

.btn-affirmative,
.btn-back {
    border-radius: 0px;
    border: 2px solid #A98B7D;
    margin: 7px;
    color: #996361;
}

.btn-homepage {
    border-radius: 0px;
    background-color: rgba(153, 99, 97, 0.3);
    border: 1px solid #F2F3F7;
    margin: 7px;
    width: 200px;
    font-size: small;
    color: #F2F3F7;
}

.btn-homepage:hover {
    size-adjust: 10%;
    width: 210px;
}

.filter-button {
    border: none;
    color: #996361;
    background: none;
}

.filter-button:hover {
    font-size: large;
    color: #005E66;
}

/* ------------------------------- Checkboxes */

.form-check.form-check-input {
    border: 1px solid #A98B7D;
    border-radius: 0px;
    color: #996361;
}

/* ------------------------------- About Page */

.carousel-control-next,
.carousel-control-next {
    opacity: inherit;
    height: 35vw;

}

.carousel-item {
    align-items: center;
}

.carousel-img {
    width: 100%;
    opacity: 80%;
    height: 35vw;
    object-fit: cover;
}


.carousel-caption {
    padding: 0%;
    margin: 0%;
    background-color: rgba(153, 99, 97, .3);
}

.carousel-caption h3 {
    padding: 10%;
    font-size: 3vw;
    margin-bottom: 0%;
}

/* ------------------------------- FAQ's */

.accordion {
    width: 85%;
    
}

.btn-link {
    color: #0A151A;
}

.btn-link:hover,
.btn:focus,
.btn-link:focus
 {
    color: #005E66;
    text-decoration: none;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.accordian-header {
    background-color: #F2F3F7;
    border-bottom: solid 3px #996361;
}

.accordian-card-body {
    background-color: white;
}

.contact-div {
    padding-top: 10%;
}
.contact-link {
    color: #005E66;
}
.contact-text {
    font-size: 12px;
}


/* ------------------------------- Product Cards */


hr {
    border: 1px solid #A98B7D;
    width: 30%;
    display: inline-flex;
    margin-bottom: 0%;
    position: static;
}

.card {
    border-radius: 0%;
    border: none;
}

button.profile-details-open,
button.info-open,
button.order-history-open {
    border-radius: 0%;
    border: none;
    background: none;
}

button.info-open:hover {
    color: #996361;
    font-size: larger;
}

.property-text {
    color: #A98B7D;
    font-size: small;
}

.size {
    font-family: 'Montserrat', 'sans-serif';
}

/* ----------------------------------------- Bag */

.bag-item-separator {
    align-self: center;
}

/* ------------------------------- Media queries */

@media only screen and (min-width: 768px) and (min-height:1024px) {
    .collection-card-img-bottom {
        width: 100%;
        height: 50vw;
        object-fit: cover;
    } 
}

@media only screen and (min-width: 1024px) and (min-height:1366px) {
    .collection-card-img-bottom {
        width: 100%;
        height: 40vw;
        object-fit: cover;
    } 
}

@media only screen and (min-width: 1500px) and (min-height:1366px) {

    .container-fluid {
        padding-left: 5%;
        padding-right: 5%;
    
    }

    .collection-card {
       padding: 10%;
       
    }

    .properties-wrapper {
        padding-top: 10%;
    }

    .title-text,
    .collection-card-text,
    .card-text.product-info,
    i {
        font-size: 1.25vw;
    }

    .card-text.collection-card-text,
    .property-text {
        font-size: 1vw;
    }

    .collection-card-img-bottom {
        width: 100%;
        height: 30vw;
        object-fit: cover;
    }

    footer, header, .filter-button {
        font-size: 1vw; 
    }
}


/* ------------------------------- Footer */

body > footer {
    position: sticky;
    top: 100vh;
}

footer {
    background: #F2F3F7;
    margin-bottom: 0px;

}

@media only screen and (min-height: 1024px) {
    footer {
        margin-top: 220px;
}

@media only screen and (min-height: 1300px) {
    footer {
        margin-top: 510px;
}

.footer-text {
    font-family: 'Quicksand', 'sans-serif';
}


/* ---------------- Allauth form formatting */

input[name='q']::placeholder {
    color: #F2F3F7;
}


.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #A98B7D; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #0A151A;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #A98B7D;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #F2F3F7;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0A151A;
    border: 1px solid #A98B7D;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #F2F3F7;
    background-color: #0A151A;
    border-color: #0A151A;
}

.allauth-form-inner-content a {
	color: #996361; /* text-info */
}

/* --------------------------- product admin styling */

.product-fields {
    border: 1px solid #0A151A;
    border-radius: 0%;
}


/* --------------------------- error handlers */

.error-container {
    background-color: #A98B7D;
    color:#0A151A;
}