
        {% if grand_total > 0 %}
        <div class="col-md-4 text-right float-right pt-4">
            <p>
                <a class="nav-link" href="{% url 'view_bag' %}">
                    <span><i class="fas fa-shopping-bag"></i></span>
                    <span class="my-0">
                        (
                        {% if total_items %}
                        {{ total_items }}
                        {% else %}
                        0
                        {% endif %} )
                    </span>
                    <span class="my-0">
                        |{% if grand_total %}
                        £{{ grand_total|floatformat:2 }}
                        {% else %}
                        £0.00
                        {% endif %}
                    </span>
                </a>
            </p>
        </div>
        {% endif %}
