{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<h2 class="title-text my-2 p-4">{% trans "Sign Up" %}</h2>
<hr>

<p class="p-3">{% blocktrans %}Already have an account? Then please <a class="login-link" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="p-4">
    <a class="btn btn-affirmative" href="{% url 'account_login' %}">Return to Login</a>
    <button class="btn btn-affirmative" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </div>
  
</form>

{% endblock %}
