{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  <!-- Bootstrap,  CSS & Google fonts -->
  {% block corecss %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/50cb4e3408.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Hobo & Hatch B2B</title>
</head>

<body>
  
    <!-- header -->

  <header class="container-fluid fixed-top p-0">
      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg p-0">
      <div class="col-lg-4 navbar-collapse collapse w-100 dual-collapse2 order-1 order-lg-0 justify-content-center p-0">
        <ul class="navbar-nav text-center">

            <!-- Check which items to display in Navbar based on if user is authenticated or not -->
          {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false"  href="#">Collections   <i class="fas fa-angle-double-down"></i></a>
                <ul class="dropdown-menu text-left" aria-labelledby="navbarDropdownMenuLink">

                      <!-- If user is a super user they can access product management -->
                    {% if request.user.is_superuser %}
                    <li>
                      <a href="#" class="dropdown-item">Manage Products</a>
                    </li>  
                    {% endif %}

                      <!-- Collections dropdown -->
                    <li class="">
                      <a class="dropdown-item" href="{% url 'collections' %}">View All</a>
                    </li>
                    <li class="">
                      <a class="dropdown-item" href="{% url 'collections' %}?chosen_categories=blankets">Blankets</a>
                    </li>
                    <li class="">
                      <a class="dropdown-item" href="{% url 'collections' %}?chosen_categories=leather_accessories">Leather Accessories</a>
                    </li>
                    <li class="">
                    <a class="dropdown-item" href="{% url 'collections' %}?chosen_categories=jewellery">Jewellery</a>
                    </li>
                    <li class="">
                    <a class="dropdown-item" href="{% url 'collections' %}?chosen_categories=knitted_accessories">Knitted Accessories</a>
                    </li>
                    <li class="">
                      <a class="dropdown-item" href="{% url 'collections' %}?chosen_categories=clothing">Clothing</a>
                    </li>
                </ul>
            </li>

              <!-- Profile dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false"  href="{% url 'profile' %}">Account   <i class="fas fa-angle-double-down"></i></a>
              <ul class="dropdown-menu ml-auto text-left" aria-labelledby="navbarDropdownMenuLink">
                <li class="">
                  <a class="dropdown-item" href="{% url 'profile' %}">My Account</a>
                </li>
                <li class="">
                  <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                </li>
              </ul> 
            </li>

          {% else %}

              <!-- If user not logged in show login & register links -->
            <li>
              <a class="nav-link" role="button" href="{% url 'account_login' %}">Login</a>
            </li>
            <li>
              <a class="nav-link" role="button" href="{% url 'account_signup' %}">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
      

        <!-- Logo block -->
      <div class="col-sm-12 col-lg-4 logo-div my-2 py-2 pb-2 order-0 position-relative justify-content-center">
          <a class="mx-auto" href="{% url 'home' %}">
            <img class="home-logo center-block" src="{{ MEDIA_URL }}logo_home.png" alt="hobo-hatch-logo">
          </a>
        <div class="col mx-auto justify-content-center navbars-div">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <i class="fas fa-bars"></i>
          </button>
        </div>
      </div>

        <!-- About us & faq nav links -->
      <div class="col-lg-4 navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2 justify-content-center" >
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'faqs' %}">FAQ's</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Messages -->
  {% if messages %}
  <aside class="message-container">
    {% for message in messages %}
      {% with message.level as level %}
        {% if level == 40 %}
          {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
          {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
          {% include 'includes/toasts/toast_success.html' %}
        {% else %}
          {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
      {% endwith %}
    {% endfor %}
  </aside>
  {% endif %}
  {% block page_header %}
 
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postloadjs %}
  <script type="text/javascript">
    $('.toast').toast('show')
  </script>
  {% endblock %}

    <footer class="row text-center text-lg-start footer-text p-0 mx-0">
      <section class="col-12 footer-links p-0">
        <div class="container footer-container text-center text-md-start mt-2 pt-2 px-0">
          <div class="row mt-3 mx-0 px-0">

            <!-- Hobo & Hatch Blog & Social  -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-0 mb-3 mt-3 p-0">
              <h6 class="text-uppercase fw-bold mb-3 mt-3 mx-0 p-0">
                GET SOCIAL WITH US
              </h6>
              <div class="col pt-2 p-0 mx-0">
                <span>
                  <a href="https://www.instagram.com/hoboandhatchuk/?hl=en" target="_blank" class="text-center">
                    <i class="fab fa-instagram fa-l"></i>
                  </a>
                </span>
                <span>
                  <a href="linkedin.com/" target="_blank" class="text-center">
                    <i class="fab fa-linkedin fa-l"></i>
                  </a>
                </span>
              </div>
            </div>

              <!-- Collections links -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-3 mt-3 p-0">
              <h6 class="text-uppercase  mb-3 mt-3">
                Collections
              </h6>
              <p>
                <a href="{% url 'collections' %}?chosen_categories=jewellery" class="text-reset">Jewellery</a>
              </p>
              <p>
                <a href="{% url 'collections' %}?chosen_categories=clothing" class="text-reset">Clothing</a>
              </p>
              <p>
                <a href="{% url 'collections' %}?chosen_categories=leather_accessories" class="text-reset">Leather Accessories</a>
              </p>
              <p>
                <a href="{% url 'collections' %}?chosen_categories=knitted_accessories" class="text-reset">Knitted Accessories</a>
              </p>
            </div>

              <!-- Contact Links -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-3 mt-3 p-0">
              <h6 class="text-uppercase mb-3 mt-3">
                Contact
              </h6>
              <p>
              <i class="fas fa-envelope"></i>
              info@hoboandhatch.co.uk
              </p>
              <p><i class="fas fa-phone"></i> + 44 1323 710710</p>
            </div>
          </div>
        </div>
      <div class="text-center pb-3">
        © 2021 Copyright Gemma Sayers
      </div>
    </section>
    </footer>
  </body>

  </html>