{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  <!-- Bootstrap CSS -->
  {% block corecss %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/50cb4e3408.js" crossorigin="anonymous"></script>
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Hobo & Hatch B2B</title>
</head>

<body>
  <!-- header -->
  <header class="container-fluid fixed-top">
    <div class="row justify-content-center">
      <!-- blank div -->
      <div class="col-4 my-0"></div>
      <!-- logo div -->
      <div class="col-4 center-block text-center">
        <img class="home-logo center-block" src="{{ MEDIA_URL }}logo_home.png" alt="hobo-hatch-logo">
      </div>
      <!-- account and shopping bag div -->
      <div class="col-4 my-0 text-center">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                  <div class="text-center">
                    <div><i class="fas fa-shopping-bag"></i></div>
                    <span class="my-0">
                      items
                      {% if total_items %}
                      {{ total_items }}
                      {% else %}
                      0
                      {% endif %}
                    </span>
                    <span class="my-0">
                      |{% if grand_total %}
                        £{{ grand_total|floatformat:2 }}
                        {% else %}
                        £0.00
                      {% endif %}
                    </span>
                  </div>
                </a>
        </div>
      <div class="col-4"></div>

      <!-- Search Form -->
      <div class="col-12 my-0 search body-text">
        <form action="" method="GET">
          <div class="col input-group w-40 my-0 center-block max-width-50">
            <input class="form-control rounded-0 my-0 search-bar" type="text" name="q" placeholder="Search">
            <div class="input-group-prepend">
              <button type="submit" class="form-control rounded-0 my-0 search-bar">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-4"></div>
    </div>

    <!-- Navigation -->
    <nav class="nav justify-content-center">
    
          <ul class="nav justify-content-center">
    <!-- Check which items to display in Navbar based on if user is authenticated or not -->
            {% if request.user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url 'collections' %}">Collections
                </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a href="#" class="dropdown-item">Jewellery</a></li>
                    <li><a href="#" class="dropdown-item">Blankets</a></li>
                    <li><a href="#" class="dropdown-item">Knitted Accessories</a></li>
                    <li><a href="#" class="dropdown-item">Leather Accessories</a></li>
                    <li><a href="#" class="dropdown-item">Clothing</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" href="#">My Profile</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a href="{% url 'profile' %}" class="dropdown-item">My Account</a></li>
    <!-- If user is a super user they can access product management -->

                    {% if request.user.is_superuser %}
                    <li><a href="" class="dropdown-item">Manage Products</a></li>  
                    {% endif %}
                    <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                  </ul> 
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'profile' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'account_signup' %}">Apply</a>
              </li>
            {% endif %}

            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
          </ul>
    </nav>
  </header>

  <!-- Messages -->
  {% if messages %}
  <aside class="message-container">
    {% for message in messages %}
      {% with message.level as level %}
        {% if level == 40 %}
          {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
          {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
          {% include 'includes/toasts/toast_success.html' %}
        {% else %}
          {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
      {% endwith %}
    {% endfor %}
  </aside>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postloadjs %}
  <script type="text/javascript">
    $('.toast').toast('show')
  </script>
  {% endblock %}

    <footer class="text-center text-lg-start text-muted">
      <section class="brand-links">
        <div class="container text-center text-md-start mt-5 pt5">
          <div class="row mt-3">
            <!-- Hobo & Hatch Blog & Social  -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-4">
              <h6 class="text-uppercase fw-bold mb-4 mt-4">
                Hobo & Hatch
              </h6>
              <div class="me-5 d-none d-lg-block">
                <span>Get social with Hobo & Hatch...</span>
              </div>
              <div class="col pt-5">
                <span>
                  <a href="" class="text-center">
                    <i class="fab fa-instagram fa-lg"></i>
                  </a>
                </span>
                <span>
                  <a href="" class="text-center">
                    <i class="fab fa-linkedin fa-lg"></i>
                  </a>
                </span>
              </div>
              <p>

              </p>
            </div>
            <!-- Collections links -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-4">
              <h6 class="text-uppercase  mb-4 mt-4">
                Collections
              </h6>
              <p>
                <a href="#!" class="text-reset">Jewellery</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Clothing</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Leather Accessories</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Knitted Accessories</a>
              </p>
            </div>
            <!-- Contact Links -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-4">
              <h6 class="text-uppercase mb-4 mt-4">
                Contact
              </h6>
              <i class="fas fa-envelope"></i>
              info@hoboandhatch.co.uk
              </p>
              <p><i class="fas fa-phone"></i> + 44 1323 710710</p>
            </div>
          </div>
        </div>
      </section>

      <div class="text-center p-4">
        © 2021 Copyright Gemma Sayers
      </div>
    </footer>

  </body>

  </html>