{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row justify-content-center">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <main class="container-fluid">
        <div class="row">
        <!-- Logged in customer div -->
        <!-- Filter by category section -->
        <section class="col-12 category-filter justify-content-center">
            
            <form method="GET" action="{% url 'collections' %}?Category">
                {% for category in categories %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox{{ category.name }}" name="chosen_categories" value="{{ category.name }}" {% if category.name in chosen_categories %}checked{% endif %}>
                        <label class="form-check-label" for="inlineCheckbox{{ category.name }}">{{ category.friendly_name }}</label>
                    </div>
                {% endfor %}
                    
                    <button type="submit" class="form-control btn btn-primary mb-3">Filter</button>
            </form>
        </section>
        <!-- Collection dropdown and descriptive div -->
        
        {% for product in products %}
            <div class="col text-center">
                <!-- Product Image and Title div -->
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="card">    
                            <div class="card-body">
                                <h5 class="card-title">{{ product.product_name }}</h5>
                                <p class="card-text">COST:{{ product.product_price }} | RRP:{{ product.rrp_price}}</p>
                            </div>
                            <img src="{{ product.image_url }}" class="card-img-bottom" alt="{{ product.product_name|lower }}">
                        </div>
                    </div>
                </div>
                
                <!-- Product input & quick add div -->
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                  
                    </div>
                </div>
                <!-- Product Info div -->
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div>
                        {% if product.product_properties %}
                            {{ product.product_properties }}
                        {% endif %}
                        {% if jewellery_properties %}
                            {{ jewellery_properties }}
                        {% endif %}
                        </div>
                        <div class="row">
                            {% with product.ring_size_matrix as ring %}
                                {% if ring %}
                                    <div class="col-12 justify-content-center">
                                        <p>
                                            <span>Size Range</span>
                                            <span>L N P S U </span>
                                        </p>
                                    </div>
                                {% endif %}
                            {% endwith %}
                            {% with product.clothing_size_matrix as clothing %}
                                  {% if clothing %}
                                    <div class="col-12 justify-content-center">
                                        <p>
                                            <span>Size Range</span>
                                            <span>xs s m l xl</span>
                                        </p>
                                    </div>
                                  
                                  {% endif %}
                            {% endwith %}
                            {% with product.one_size as o %}
                                  {% if o %}
                                    <div class="col-12 justify-content-center">
                                        <p>
                                            <span>One Size</span>
                                        </p>
                                    </div>
                                  {% endif %}
                            {% endwith %}
                        
                        </form>
                    </div>
                    </div>
                </div> 
            </div>
        </div>
        {% endfor %}
    </main>
{% endblock %}
