{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row justify-content-center">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <main class="container-fluid">
        <!-- Logged in customer section -->
            <div class="row text-center justify-content-center">

        <!-- Product Card & tile -->
                    <div class="col-sm-12 col-md-6 col-lg-4 image_card">
                        <div class="card">    
                            <div class="card-body">
                                <h5 class="card-title">{{ product.product_name }}</h5>
                                <p class="card-text">COST:{{ product.product_price }} | RRP:{{ product.rrp_price}}</p>
                            </div>
                            <a href="{{ product.image.url }}" target="blank">
                                <img src="{{ product.image.url }}" class="card-img-bottom" alt="{{ product.product_name|lower }}">
                            </a>
                        </div>
                    </div>
    
                
                <!-- Product Info div -->
                <section class="col-sm-12 col-md-6 col-lg-4 product_info_input justify-content-center">
                        <div class="col-12 properties">
                            {% if product.product_properties %}
                                {% for p in product.product_properties %}
                                    {% if p == "LI" %}<span style="font-size: 48px"><i class="fab fa-envira"></i></span>
                                    {% elif p == "FP"%}<span style="font-size: 48px"><i class="fas fa-hands-helping"></i></span>
                                    {% elif p == "HC"%}<span style="font-size: 48px"><i class="fas fa-hand-paper"></i></span>
                                    {% elif p == "PW"%}<span style="font-size: 48px"><i class="fas fa-mitten"></i></span>
                                    {% elif p == "SS" %}<p class="metal-type">925 Sterling Silver</p>
                                    {% elif p == "GP" %}<p class="metal-type">Gold-Plated Silver</p>
                                    {% endif %}  
                                {% endfor %}
                            {% endif %}
                            <div class="col-12 description">
                                {{ product.product_description }}
                            </div>
                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% csrf_token %}
                                {% with product.ring_size_matrix as ring %}
                                    {% if ring %}
                                        <!-- {% for size in product.ring.ring_sizes %}

                                        {% endfor %} -->
                                    <div class="col-12 form-group mb-3">
                                        <input type="hidden" name="{{ product.product_type }}" id="{{ product.product_type }}" data-item_id="{{ product.id }}" value="{{ product.product_type.name }}">
                                        
                                        <span class="input-group">L</span>
                                        <input type="number" class="form-control qty_input" name="l" value="1" min="0" max="99" id="id_qty_{{ product.id }}" data-item_id="{{ product.id }}"  aria-label="L">

                                        <span class="input-group">N</span>
                                        <input type="number" class="form-control qty_input_N" name="n" value="1" min="0" max="99" id="id_qty_{{ product.id }}" data-item_id="{{ product.id }}"  aria-label="N">

                                        <span class="input-group">P</span>
                                        <input type="number" class="form-control qty_input_P" name="p" value="1" min="0" max="99" id="id_qty_{{ product.id }}" data-item_id="{{ product.id }}"  aria-label="P">

                                        <span class="input-group">S</span>
                                        <input type="number" class="form-control qty_input_S" name="s" value="1" min="0" max="99" id="id_qty_{{ product.id }}" data-item_id="{{ product.id }}"  aria-label="S">

                                        <span class="input-group">U</span>
                                        <input type="number" class="form-control qty_input_U" name="u" value="1" min="0" max="99" id="id_qty_{{ product.id }}" data-item_id="{{ product.id }}"  aria-label="U">
                                      </div>
                                    {% endif %}
                                {% endwith %}
                                {% with product.clothing_size_matrix as clothing %}
                                      {% if clothing %}
                                      <div class="col-sm-12 form-group mb-3">
                                        <input type="hidden" name="{{ product.product_type }}" id="id_{{ product.product_type }}" data-item_id="{{ product.id }}" value="{{ product.product_type }}">
                                        <span class="input-group">XS</span>
                                        <input type="number" class="form-control qty_input_XS" name="xs" value="1" min="0" max="99" data-item_id="{{ product.id }}"  id="id_qty_{{ product.id }}" aria-label="extra small">
                                        <span class="input-group">S</span>
                                        <input type="number" class="form-control qty_input_S" name="sm" value="1" min="0" max="99" data-item_id="{{ product.id }}"  id="id_qty_{{ product.id }}" aria-label="small">
                                        <span class="input-group">M</span>
                                        <input type="number" class="form-control qty_input_M" name="m" value="1" min="0" max="99" data-item_id="{{ product.id }}"  id="id_qty_{{ product.id }}" aria-label="medium">
                                        <span class="input-group">L</span>
                                        <input type="number" class="form-control qty_input_L" name="lg" value="1" min="0" max="99" data-item_id="{{ product.id }}"  id="id_qty_{{ product.id }}" aria-label="large">
                                        <span class="input-group">XL</span>
                                        <input type="number" class="form-control qty_input_XL" name="xl" value="1" min="0" max="99" data-item_id="{{ product.id }}"  id="id_qty_{{ product.id }}" aria-label="extra large">
                                        
                                      </div>
                                      {% endif %}
                                {% endwith %}
                                {% with product.one_size as o %}
                                      {% if o %}
                                      <div class="col-sm-12 col-md-6 col-lg-4 form-group mb-3">
                                        <input type="hidden" name="{{ product.type }}" id="id_{{ product.type }}" data-item_id="{{ product.id }}" value="{{ product.type }}">
                                        <span class="input-group">One Size</span>
                                        <input type="number" label="One Size" class="form-control qty_input" name="quantity" value="1" min="0" max="99" data-item_id="{{ product.id }}" data-product_type="{{ product.product_type }}" id="quantity" placeholder="Enter Qty" aria-label="one size">
                                      </div>
                                      {% endif %}
                                {% endwith %}
                                <div class="col-12">
                                    <a href="{% url 'collections' %}" class="btn btn-primary">
                                        <span class="icon">
                                        </span>
                                        <span class="text-uppercase">Continue Browsing</span>
                                    </a>
                                    <input type="submit" class="btn btn-primary" value="Add to Bag">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            
                            </form>
                        </div>

                </section>
                        <!-- Product input & quick add section -->
                <!-- <section class="col-sm-12 col-md-6 input_section"> -->
                   
                    <!-- </section> -->
            </div>
        </div>
    </main>
{% endblock %}
